{% extends './layout.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    {% comment %}
        <img src="{% static 'imgs/image.jpg' %}" alt="">
    {% endcomment %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>

        <input type="submit" class="btn btn-primary" value="Login">
    </form>

{% endblock %}